body {
    /* Стилі для body */
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
    margin: 0;
}

ul{
    margin: 0;
}
.resume {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.main_content {
    /* Стилі для основного контенту */
    flex: 1;
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 55px 90px;
}

.sidebard {
    /* Стилі для бічної панелі */
    background-color: #1E2939;
    padding: 40px;
    width: 400px;
}

/* main styles */
.main{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
    background-color: #F5F7FA;
}

/* main content styles */
.main_content{
    flex: 1;
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 55px 90px;
}

/* about styles */
.about{
    margin-bottom: 40px;
}

.about_name{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: hsl(107, 86%, 48%);
    margin-bottom: 25px;
}

.about_description{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

/* projects styles */
.projects{
    margin-bottom: 50px;
}

.title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.projects_list{
    padding: 0;
    margin-left: 15px;
}

.project_item{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project, .project_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project_link{
    margin-left: 10px;
}

.project_bracket{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* work styles */


/* education styles */
.work_position{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.period{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work_list{
    padding: 0;
    margin-left: 15px;
}

.work_list_item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.rob{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.oranization {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.education{
    margin-top: 45px;
}

.education_position{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
}

.education_pos{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
}

/* sidebard class */
.sidebard{
    background-color: #1E2939;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 400px;
    color: #FFFFFF;
}

.photo{
    width: 370px;
    margin-bottom: 20px;
}

.contacts, .tech_skills, .soft_skills{
    margin-left: 40px;
}



.soft_skills{
    margin-top: 45px;
}

.sidebard_title{ 
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contact_type{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 10px;
}

.contact_link{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #565e6a;
    text-decoration: none;
}

.tech_skills_list{
    padding: 0;
    margin-left: 17px;
}

.tech_skills_item{
    color:#FB6D3A;
}

.tech_skills_text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.soft_skills_list{
    padding: 0;
    margin-left: 17px;
}

.soft_skills_item{
    color:#FB6D3A;
}

.soft_skills_text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}